/* Global */
body {
  margin: 0 auto;
  text-align: center;
}

.section-title {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0;
  padding: 120px 0 0 0;
}

.section-subtitle {
  color: #777777;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-style: italic;
  padding: 0;
  margin: 0 0 80px 0;
}

.btn-menu {
  display: none;
}

/* Header */
.splash {
  height: 700px;
  background-image: url("../images/Background_Image.png");
  background-size: cover;
  position: relative;
}

.splash::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
}

.splash .container .logo {
  position: relative;
  padding: 70px 0 0 20px;
  z-index: 5;
}

.splash .container .navigation .nav {
  position: relative;
  display: inline-block;
  text-align: right;
  width: 100%;
  margin: 0;
  padding-right: 15px;
  z-index: 10;
}

.splash .container .navigation .nav li {
  text-decoration: none;
  display: inline-block;
  text-align: right;
  padding: 65px 0 0 40px;
}

.splash .container .navigation .nav li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 41px;
}

.splash .container .inner-splash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
}

.splash .container .inner-splash h3 {
  color: #ffffff;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
}

.splash .container .inner-splash h1 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  width: 1000px;
  padding: 0;
  margin: 0 0 60px 0;
}

.splash .container .inner-splash .btn {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 25px 50px;
  background-color: #fed136;
  border-radius: 5px;
}

.splash .container .inner-splash .btn:hover {
  color: #000000;
  background-color: #ffffff;
  transition: all 1s;
}

/* Services */
.services .container i {
  color: #fed136;
  height: 68px;
  width: 68px;
  border: 2px solid #fed136;
  border-radius: 50%;
  line-height: 60px;
  font-size: 30px;
}

.services .container i:hover {
  transform: scale(1.5);
  transition: all 1s;
}

.services .container h5 {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.45px;
  margin-bottom: 18px;
}

.services .row {
  padding-bottom: 120px;
}

.services .container .row p {
  color: #777777;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
  margin: 0;
}

/* Portfolio */
.portfolio {
  background-color: #f7f7f7;
}

.portfolio .container .gallery .gallery-image {
  margin: 0;
  padding: 0;
  position: relative;
}

.portfolio .container .gallery .gallery-image:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #777777;
  opacity: 0.5;
  transition: all 1s;
}

.portfolio .container .gallery .gallery-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.portfolio .container .gallery .row .gallery-box {
  margin-bottom: 50px;
}

.portfolio .container .gallery .row .gallery-box .gallery-image-description {
  background-color: #ffffff;
  margin: 0;
  padding: 30px 0;
}

.portfolio .container .gallery .row .gallery-box .gallery-image-description h3 {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
  margin: 0;
  padding: 0 0 4px 0;
}

.portfolio .container .gallery .row .gallery-box .gallery-image-description p {
  color: #737373;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-style: italic;
  margin: 0;
  padding: 0;
}

/* Footer */
footer .container .row .copyright {
  position: relative;
  height: 120px;
}

footer .container .row .copyright p {
  position: absolute;
  color: #555555;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0;
  padding: 0;
}

footer .container .row .icons {
  position: relative;
  height: 120px;
  text-align: left;
  padding-left: 40px;
}

footer .container .row .icons a {
  text-decoration: none;
  display: inline-block;
  padding-top: 40px;
  text-align: center;
  margin-left: 10px;
}

footer .container .row .icons a:hover {
  transform: scale(1.2);
  transition: all 1s;
}

footer .container .row .icons a i {
  height: 40px;
  width: 40px;
  background-color: #222222;
  border-radius: 50%;
  color: #ffffff;
  line-height: 40px;
}

/* Media */
@media (max-width: 990px) {
  /* Global */
  .section-title {
    margin: 10px 0 0 0;
    padding: 0;
  }
  .section-subtitle {
    margin: 0 0 30px 0;
  }
  /* Header */
  .splash {
    height: 70vh;
  }
  .splash .container .row .logo {
    position: relative;
    height: 40px;
    margin: 30px 0 0 0;
    padding: 0;
  }
  .splash .container .row .logo img {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .splash .container .row .navigation {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
  }
  .splash .container .row .navigation .nav {
    position: absolute;
    left: 0;
    text-align: center;
    height: 60px;
  }
  .splash .container .row .navigation .nav li {
    left: -20px;
    margin: 0;
    padding: 0 0 0 15px;
    height: 60px;
    line-height: 60px;
  }
  .splash .container .row .navigation .nav li a {
    padding: 0;
    margin: 0;
  }
  .splash .container .inner-splash {
    margin: 100px 0 0 0;
    padding: 0;
    position: relative;
  }
  .splash .container .inner-splash h3 {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 20px;
  }
  .splash .container .inner-splash h1 {
    margin: 0 0 40px 0;
    padding: 0;
    width: auto;
    font-size: 40px;
  }
  .splash .container .inner-splash .btn {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 30px;
  }
  /* Services */
  .services .container i:hover {
    transform: scale(1.2);
  }
  .services .row {
    padding-bottom: 0;
  }
  .services .container .row p {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  /* Global */
  .section-title {
    font-size: 30px;
  }
  .section-subtitle {
    font-size: 14px;
    padding-bottom: 20px;
  }
  section {
    padding-top: 30px;
  }
  /* Header */
  .splash {
    height: 60vh;
  }
  .btn-menu {
    width: 40px;
    height: 40px;
    position: absolute;
    font-size: 30px;
    z-index: 20;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    color: #fed136;
    top: 25px;
    right: 25px;
    display: block;
  }
  .btn-menu:hover {
    color: #ffffff;
  }
  .splash .container .navigation {
    display: none;
  }
  .splash .container .inner-splash h3 {
    padding-top: 40px;
  }
  .splash .container .inner-splash h1 {
    width: auto;
    font-size: 30px;
  }
  /* Portfolio */
  .portfolio .container .gallery .gallery-box {
    width: 400px;
    margin: 0 auto;
  }
  /* Footer */
  footer .container .row .copyright {
    text-align: center;
    padding: 0;
    margin: 0;
    -ms-flex-order: 2;
        order: 2;
  }
  footer .container .row .icons {
    text-align: center;
    padding: 0 20px 0 0;
    -ms-flex-order: 1;
        order: 1;
  }
  footer .container .row .copyright p {
    margin: 0;
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */